<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora Básica - JavaScript</title>
</head>
<body>
    <hr>
    <h1>Calculadora Básica</h1>
    <hr>
    <form>
        <input id="n1" type="number" placeholder="Ingrese primer número">
        <br>
        <input id="n2" type="number" placeholder="Ingrese segundo número">
        <br>
        <br>
        <input type="submit" value="Calcular Suma" onclick="sumar()">&nbsp;
        <input type="submit" value="Calcular Resta" onclick="restar()">&nbsp;
        <input type="submit" value="Calcular División" onclick="dividir()">&nbsp;
        <input type="submit" value="Calcular Multiplicación" onclick="multiplicar()">
    </form>
</body>
<script src="/assets/js/calculadora.js"></script>

</html>